.add-button-col {
  display: flex;
  justify-content: right;
  margin: 8px 0px; 
}
.add-button-col h2{
  font-size: 23px;
  margin: 0px;
}


.organizations-text {
  display: flex;
  justify-content: left;
  font-size: 30px;
  font-weight: 600;
}