@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');

.add-container {
  background-color: rgba(219, 150, 82, 0.913);
}


.add-button-col {
  display: flex;
  justify-content: right;
  /* margin: 8px 0px;  */
  font-family: 'Montserrat', sans-serif;
}
.add-button-col h2{
  font-size: 23px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}


.organizations-text {
  display: flex;
  justify-content: left;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

