@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');



.getinvolved-container {
  background-image: url(/public/images/penguins.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size:clamp(15px, 4vw, 18px);
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.getinvolved-container h1{
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(247, 224, 191, 0.868);
  font-weight: 700;
}

.getinvolved-container h3 {
  font-weight: 600;
  padding-bottom: 20px;
}


.ways-col {
  background-color: rgba(251, 244, 235, 0.769);
  font-weight: 600;
  padding: 35px;
  margin: 40px;
  margin-bottom: 60px;
  border-radius: 10px;
}

.home-col{
  background-color: rgba(251, 244, 235, 0.769);
  font-weight: 600;
  padding: 35px;
  margin: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
}