@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');


.learn-container h1 {
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(247, 224, 191, 0.868);
  font-weight: 700;
}

.learn-container h2 {
/* text-align: center; */
font-weight: 700;
}

.learn-container {
  background-image: url(/public/images/savannahbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size:clamp(15px, 4vw, 18px);
  font-family: 'Montserrat', sans-serif;
  color:black;
  /* font-weight: 300; */
}

/* .content-section {
  background-color: rgba(251, 244, 235, 0.643);
  margin: 0;
  padding: 0;
} */

.aboutCC-col {
  background-color: rgba(251, 244, 235, 0.696);
  font-weight: 600;
  text-align: center;
  margin: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.whatis-col {
  background-color: rgba(251, 244, 235, 0.769);
  font-weight: 600;
  padding: 20px;
  margin: 60px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.why-col {
  background-color: rgba(251, 244, 235, 0.77);
  font-weight: 600;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.how-col {
  background-color: rgba(251, 244, 235, 0.765);
  font-weight: 600;
  margin: 60px;
  padding: 20px;
  border-radius: 10px;
}

