.login-container {
  background-image: url(/public/images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.form-row {
  display: flex;
  justify-content: center;
  
}

.form-col {
  background-color: rgba(250, 235, 215, 0.379);
  margin-top: 40px !important;
  padding: 40px;
}

.form-col h2 {
  text-align: center;
}