.logo-image {
  height: 90px;
  border-radius: 10px;
}

.navbar-container {
  background-color: #F2F1EE;
  font-size: 25px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.sticky-top {
  padding: 0 !important; 
}