@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');

.logo-image {
  height: 90px;
  border-radius: 10px;
}

.navbar-container {
  /* background-color: #F2F1EE; */
  background-color: rgb(131, 171, 123);
  font-size: 25px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  
}

.navbar-collapse {
  justify-content: flex-end;
}

.sticky-top {
  padding: 0 !important; 
}
