/* #organization .backdrop-filter {
  backdrop-filter: blur(2px);
  backdrop-filter: brightness(60%);
  backdrop-filter: contrast(40%);
  backdrop-filter: drop-shadow(4px 4px 10px blue);
  backdrop-filter: grayscale(30%);
  backdrop-filter: hue-rotate(120deg);
  backdrop-filter: invert(70%);
  backdrop-filter: opacity(20%);
  backdrop-filter: sepia(90%);
  backdrop-filter: saturate(80%);
} */

/* body {
  background-image: url(/public/images/CLbg-removebg-preview.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

#organization {
  background-color: #f9e8d041;
  background-image: url(/public/images/CLbg-removebg-preview.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


#organization img {
  aspect-ratio: 1 / 1;
  object-fit: contain;
  
}