@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');


/* .modal-content {
  backdrop-filter: blur(2px);
  backdrop-filter: brightness(60%);
  backdrop-filter: contrast(40%);
  backdrop-filter: drop-shadow(4px 4px 10px blue);
  backdrop-filter: grayscale(30%);
  backdrop-filter: hue-rotate(120deg);
  backdrop-filter: invert(70%);
  backdrop-filter: opacity(20%);
  backdrop-filter: sepia(90%);
  backdrop-filter: saturate(80%);
} */


#organization {
  /* background-color: #f9e8d041; */
  background-image: url(/public/images/rainforestBG.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  /* height: 100%; */
}


#organization img {
  aspect-ratio: 1 / 1;
  object-fit: contain;

}

.modal {
  font-family: 'Montserrat', sans-serif;
  border-radius: 0;
  backdrop-filter: blur(2px);
}


.modal img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.trash-button {
  color: black;
  background-color: transparent;
  border-color: transparent;
}

