.modal-content {
  border: 0px !important; 
}

#root {
  background-color: #bfe17ba6;
}

.logo-image {
  height: 90px;
  border-radius: 10px;
}

.navbar-container {
  background-color: #F2F1EE;
  font-size: 20px;
}