/* .modal-content {
  border: 0px !important; 
} */

/* #root {
  background-color: #bfe17ba6;
  background-image: url('/public/images/CLbg-removebg-preview.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */




